$color--white: #FFFFFF;












$color--dark-grey: #252627;
$color--dark--blue: #3B4B68;
$color--light-gray: #8E9BAD;
$color--blue: #1769FF;

$color-amaranth: #F02C5A;
$color-bali-hai: #8E9BAD;
$color-heather: #A4B0BE;
$color-port-gore: #3B4B68;
$color-solitude: #E0E4ED;

@import "fonts/palermo.css";



